@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-color: aliceblue;
  border-width: 2px;
  overflow: hidden;
}

/* Custom styling for indicators */
.carousel .control-dots {
  bottom: 25px;
}

.carousel .control-dots .dot {
  margin: 0 4px;
}

.carousel .control-dots .dot.selected-dot {
  background-color: #000000;
}
